header{
    font-family: "Bodoni Moda", serif;
    width: 100%;
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    position: sticky;
    top: 0;
} 

ul{
    display: flex;
    list-style: none;
    gap: 25px;
}
li{
    background-image: linear-gradient(white, white);
    background-position: 0% 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
}
li:hover{
    background-size: 100% 2px;
}
a{
    font-family: "Bodoni Moda", serif;
    text-decoration: none;
    color: #fff;
}